:root {
  /* Colors */
  --primaryColor: #1b4a0aca;
  --hoverColor: #44de108f;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: white;
  --blackColor: black;
  /* Fonts */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

/* Hide the scrollbar */
.homePage {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}
.homePage::-webkit-scrollbar {
  display: none;
}

.homePage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.homePage video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.homePage .contentContainer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.homePage .contentContainer h1 {
  font-size: 3rem;
  color: white;
  margin: 0.5rem 0;
}
.homePage .contentContainer p {
  font-size: 1.5rem;
  color: white;
  margin: 0.5rem 0;
}
.homePage .contentContainer button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: var(--primaryColor);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 1rem;
}
.homePage .contentContainer button:hover {
  background-color: var(--hoverColor);
}
.homePage .mainContent {
  background-color: #D2E0C6;
  animation: fadeIn 1.5s ease-in-out;
  z-index: 2;
  padding: 2rem;
  height: 375vh;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.homePage .mainContent .searchFamily {
  position: relative;
  padding: 2rem;
  background-color: var(--paleGreen);
  border-radius: 8px;
  text-align: center;
  height: 89vh;
}
.homePage .mainContent .searchFamily .searchCardVideo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.homePage .mainContent .searchFamily button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.homePage .mainContent .searchFamily button:hover {
  background-color: var(--hoverColor);
}
.homePage .mainContent .viewRecords {
  position: relative;
  padding: 2rem;
  background-color: var(--paleGreen);
  border-radius: 8px;
  text-align: center;
  margin-top: 2rem; /* Space between searchFamily and viewRecords */
  height: 89vh;
}
.homePage .mainContent .viewRecords .recordCardVideo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.homePage .mainContent .viewRecords button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.homePage .mainContent .viewRecords button:hover {
  background-color: var(--hoverColor);
}
.homePage .mainContent .familyTree {
  position: relative;
  padding: 2rem;
  background-color: var(--paleGreen);
  border-radius: 8px;
  text-align: center;
  margin-top: 2rem; /* Space between searchFamily and viewRecords */
  height: 89vh;
}
.homePage .mainContent .familyTree .familyCardVideo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.homePage .mainContent .familyTree button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.homePage .mainContent .familyTree button:hover {
  background-color: var(--hoverColor);
}
.homePage .mainContent .createAccount {
  position: relative;
  padding: 2rem;
  background-color: var(--paleGreen);
  border-radius: 8px;
  text-align: center;
  margin-top: 2rem; /* Space between searchFamily and viewRecords */
  height: 89vh;
}
.homePage .mainContent .createAccount .createCardVideo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.homePage .mainContent .createAccount button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.homePage .mainContent .createAccount button:hover {
  background-color: var(--hoverColor);
}
.homePage .footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: gray;
  color: #fff;
}
.homePage .footer p {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.homePage .footer .socialMedia {
  display: flex;
  justify-content: center;
}
.homePage .footer .socialMedia a {
  color: white;
  margin: 0 0.5rem;
}
.homePage .footer .socialMedia a:hover {
  color: #3498db;
}/*# sourceMappingURL=Home.css.map */